@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
body {
    background: #050e2d;
}
.about{
    position: relative;
    width: 100%;
    min-height: 75vh;
    padding: 0px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about .contentBx{
    width: 50%;
    margin: 20px;
}
.about .contentBx h2{
  
    font-size: 3em;
    font-weight: 700;
    color: #FFF;
}
.about .contentBx p{
     max-width: 600px;
    color: #dbd9d9;
    text-align: justify;
}
.about .contentBx a{
    display: inline-block;
    padding: 10px 20px;
    margin: 20px 0;
    border: 1px solid #1aeeef;
    text-decoration: none;
    font-weight: 700;
    border-radius: 5px;
    color: #fff;
    letter-spacing: 1px;
}
.about .contentBx a:hover{
    background: #1aeeef;
    border: none;
    color: #050e2d;
    box-shadow: 0 0 10px #1aeeef;
}